/* popup.css */
#custom-popup {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 400px;
    height: 300px;
    background-color: powderblue;
    opacity: 0.95;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    padding: 20px;
    z-index: 10000;
    overflow: auto;
  }

  #custom-popup-content {
    overflow-y: auto;
  }

  #question {
    font-weight: bold;
  }

  #searchButton {
    background-color: palegreen;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  #searchButton img {
    width: 20px;
    height: 20px;
    margin-right: 5px;
  }

  #searchButton:hover {
    background-color: rgb(180, 237, 180);
  }

#closeButton {
  position: absolute;
  top: 0px;
  right: 0px;
  border: none;
  background-color: transparent;
  color: #333;
  font-size: 24px;
  cursor: pointer;
  padding: 10px;
}

#closeButton:hover {
  color: #666; }
